.box-main{
  padding: 0px 10px;
  color: black;
  min-width: 25%;
  max-width: 40%;
}
.box-main-title{
 color: white;
 background: #2F4E6F;
 width: 100%;
 padding: 2px 3px;
}
.box-main-opt-input{
  display:  inline;
  padding: 10px 4px;
}
.box-main-rpt{
  margin-left: 75px;
}
button{
  font-family: arial;
  font-size: 8pt;
  background-color: #C8D7E3;
  border: 1px solid #2F4E6F;
}
