<div class="login-container">
  <h2>Bienvenido, ingrese su usuario y contraseña.</h2>
  <form (ngSubmit)="login()">
    <div>
      <label for="username"> ID de usuario:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>
