<div class="box-main">
  <div class="box-main-title"><span><b>Titlle</b></span></div>
  <div class="box-main-list-btn">
    <button>one</button>
    <button>two</button>
    <button>three</button>
    <button>Four</button>
  </div>
  <div class="box-main-list-btn-low">
    <button>check</button>
    <button>cheew</button>
  </div>
  <div class="box-main-description">
    <span>text </span>
    paginacion
  </div>
  <div class="box-main-table">
    <table>
      <thead>
        <tr>
          <th></th> <!-- Columna para el checkbox -->
          <th>Nombre</th> <!-- Columna para el nombre -->
          <th>Descripción</th> <!-- Columna para la descripción -->
        </tr>
      </thead>
      <tbody>
        <tr >
          <td><input  title="e" type="checkbox"></td> <!-- Checkbox -->
          <td>rwer</td> <!-- Nombre -->
          <td>fsadf</td> <!-- Descripción -->
        </tr>
      </tbody>
    </table>

  </div>
</div>
