<div class="box-main">
  <div class="box-main-title"><span><b>Titlle ({{entidades.length}})</b></span></div>
  <div class="box-main-list-btn">
    <button>Nuevo</button>
    <button>Modificar</button>
    <button>Eliminar</button>
    <button>Habilitar</button>
    <button>Deshabilitar</button>
    <button>Llaves</button>
  </div>
  <div class="box-main-list-btn-low">
    <button>check</button>
    <button>cheew</button>
  </div>
  <div class="box-main-description">
    <span>{{entidades.length}} registros encontrados. [Inicio/Ant] 1, 2, 3, 4, 5 [Sgte/Fin] </span>
  </div>
  <div class="box-main-table">
    <table class="main-table">
      <thead    class="main-table-head">
        <tr>
          <th>Sel.</th> <!-- Columna para el checkbox -->
          <th *ngFor="let columna of columnas">{{ columna }}</th>
        </tr>
      </thead>
      <tbody class="main-table-body">
        <tr *ngFor="let entidad of entidades">
          <td><input  title="e" type="checkbox"></td> <!-- Checkbox -->
          <td >{{ entidad.id }}</td>
          <td >{{ entidad.nombre }}</td>
          <td >{{ entidad.type }}</td>

        </tr>


      </tbody>
    </table>

  </div>
</div>
