<div class="main-box">
<span><b>MENU</b></span>
<ul class="list-group">
  <li class="list-group-item"><a routerLink="/entidades" href="/entidades">Agentes Externos</a></li>
  <li class="list-group-item"><a routerLink="/interfaces" href="/interfaces">Interfases</a></li>
  <li class="list-group-item"><a routerLink="/mapas" href="/mapas">Mapas</a></li>
  <li class="list-group-item"><a href="#">Esquemas</a></li>
  <li class="list-group-item"><a href="#">Componentes</a></li>
  <li class="list-group-item"><a href="#">Parámetros</a></li>
  <li class="list-group-item"><a href="#">Refrescar Cambios</a></li>
  <li class="list-group-item"><a href="#">Probar Procesos Externos</a></li>
  <li class="list-group-item"><a href="#">Log Auditoría</a></li>
  <li class="list-group-item"><a href="#">Usuario</a></li>
</ul>


</div>
